/* import temp css files (removed at the end of the project) */
@import url(fonts.css);
@import url(buttons.css);
@import url(overflow.css);
@import url(reset-ul.css);
@import url(inline-block.css);
@import url(reset-fieldset.css);
@import url(clearfix.css);
@import url(gradient.css);
@import url(sp.css);
@import url(widgets.css); /* do not copy */

/* normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}
audio, canvas, video {display: inline-block;}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], template {display: none;}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {margin: 0;}
a {background: transparent;}
a:active, a:hover {outline: 0;}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: bold;}
dfn {font-style: italic;}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {white-space: pre-wrap;}
q {quotes: "\201C" "\201D" "\2018" "\2019";}
small {font-size: 80%;}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0;}
svg:not(:root) {overflow: hidden;}
figure {margin: 0;}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button, input {line-height: normal;}
button, select {text-transform: none;}
button, html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {cursor: default;}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
dl, menu, ol, ul {margin: 1em 0;}
dd {margin: 0 0 0 40px;}
menu, ol, ul {padding: 0 0 0 40px;}
nav ul, nav ol {list-style: none outside none;}
/* normalize.css end */

/* reset */
body {
	line-height:1.2;
	-webkit-font-smoothing: antialiased; 
}
body, html {
	height:100%;
	width:100%;
}
header, nav, section, article, aside, footer {display: block;}
input[type=button], input[type=submit], input[type=radio], input[type=checkbox], button, select{cursor:pointer;}
/*normalization mozila*/
button::-moz-focus-inner  {
	padding:0;
	border:0;
}
input::-moz-focus-inner  {
	padding:0;
	border:0;
}
/*normalization ie7*/
*+html input[type=checkbox],
*+html input[type=radio] { 
	width:13px;
	height:13px;
}
input, button{overflow:visible;}
textarea{
	resize:none;
	overflow:auto;
}
em{font-style:italic;}
b, strong{font-weight:bold;}
a {
	cursor:pointer;	
	outline: none;
	text-decoration: underline;
}
a:hover {text-decoration: none;}
h1, h2, h3, h4, h5, h6{
	font-weight:100;
	margin:0;
}
img {border: none;}
input {vertical-align: middle;}
table{
	border-collapse:collapse; 
	border:0;
	width:100%;
}
blockquote, q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {outline:none;}
/*remove the border around the button*/
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
	border: none;
}
/*remove the frame around the input type = "radio"*/
:focus {-moz-outline: 3px solid #fff !important;}
input[type="radio"]:focus {
	-moz-outline-radius: 12px !important;
	-moz-outline-offset: 0 !important;
}
/*remove the frame around the input type = "checkbox"*/
input[type="checkbox"]:focus {
	-moz-outline-offset: -1px !important;
	-moz-outline: 1px solid #000 !important;
}
/*remove the frame around the inputs ie7*/
*+html a,
*+html button,
*+html input[type="submit"],
*+html input[type="radio"],
*+html input[type="checkbox"], 
*+html input[type="button"] {
	noFocusLine: expression(this.onFocus=this.blur());
}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* reset end */

/* fonts */
/* gotham-pro regular */
@font-face {
	font-family: 'gothampro-regular';
	src: url('../fonts/gotham-pro/regular/gothampro-regular.eot');
	src: url('../fonts/gotham-pro/regular/gothampro-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/regular/gothampro-regular.woff') format('woff'),
	url('../fonts/gotham-pro/regular/gothampro-regular.ttf') format('truetype'),
	url('../fonts/gotham-pro/regular/gothampro-regular.svg#gothampro-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* gotham-pro black */
@font-face {
	font-family: 'gothampro-black';
	src: url('../fonts/gotham-pro/black/gothampro-black.eot');
	src: url('../fonts/gotham-pro/black/gothampro-black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/black/gothampro-black.woff') format('woff'),
	url('../fonts/gotham-pro/black/gothampro-black.ttf') format('truetype'),
	url('../fonts/gotham-pro/black/gothampro-black.svg#gothampro-black') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* gotham-pro bold */
@font-face {
	font-family: 'gothampro-bold';
	src: url('../fonts/gotham-pro/bold/gothampro-bold.eot');
	src: url('../fonts/gotham-pro/bold/gothampro-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/bold/gothampro-bold.woff') format('woff'),
	url('../fonts/gotham-pro/bold/gothampro-bold.ttf') format('truetype'),
	url('../fonts/gotham-pro/bold/gothampro-bold.svg#gothampro-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* gotham-pro light */
@font-face {
	font-family: 'gothampro-light';
	src: url('../fonts/gotham-pro/light/gothampro-light.eot');
	src: url('../fonts/gotham-pro/light/gothampro-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/light/gothampro-light.woff') format('woff'),
	url('../fonts/gotham-pro/light/gothampro-light.ttf') format('truetype'),
	url('../fonts/gotham-pro/light/gothampro-light.svg#gothampro-light') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* gotham-pro medium */
@font-face {
	font-family: 'gothampro-medium';
	src: url('../fonts/gotham-pro/medium/gothampro-medium.eot');
	src: url('../fonts/gotham-pro/medium/gothampro-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/medium/gothampro-medium.woff') format('woff'),
	url('../fonts/gotham-pro/medium/gothampro-medium.ttf') format('truetype'),
	url('../fonts/gotham-pro/medium/gothampro-medium.svg#gothampro-medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* gotham-pro medium italic*/
@font-face {
	font-family: 'gothampro-medium-italic';
	src: url('../fonts/gotham-pro/medium-italic/gothampro-medium-italic.eot');
	src: url('../fonts/gotham-pro/medium-italic/gothampro-medium-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/medium-italic/gothampro-medium-italic.woff') format('woff'),
	url('../fonts/gotham-pro/medium-italic/gothampro-medium-italic.ttf') format('truetype'),
	url('../fonts/gotham-pro/medium-italic/gothampro-medium-italic.svg#gothampro-medium') format('svg');
	font-weight: normal;
	font-style: normal;
}/* fonts end */

/* ------ typographic styles ------ */
html{
	min-width: 1100px;
}
body {
	font: 13px/1.846 'gothampro-light', Arial, Helvetica, sans-serif;
	height: 100%;
	color:#565656;
	background: #f7efe7 url(../img/bg/bg-page.png) 50% 0;
	min-width: 1100px;
}
.clients-page{
	background: #fff4de url(../img/bg/bg-page-alt.png) 50% 0;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
	color:#da0303;
}
h1 {
	font: 28px/32px 'gothampro-regular', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 30px;
}
h2 {
	font: 22px/26px 'gothampro-medium', sans-serif;
	color: #3c3c3c;
	text-transform: uppercase;
	padding: 0 0 20px;
}
h3 {
	font-size:16px;
	line-height: 1.2;
	padding: 0 0 15px;
}
h4 {
	font-size:14px;
	line-height:1.2;
	padding: 0 0 10px;
}
h5 {
	font-size:14px;
	line-height:1.2;
	padding: 0 0 5px;
}
p {
	padding:0 0 24px;
	margin:0;
}
hr {
	line-height:1px;
	height:0;
	border:none;
	background:none;
	border-bottom:1px solid #000;
	margin-bottom:25px;
}
a {
	color: #da0303;
	outline: none;
	text-decoration: underline;
	cursor:pointer;
}
a:hover {text-decoration: none;}
img {
	border: none;
	vertical-align: top;
}
/*
************************************************************
***  If custom font is used globally throught css style  ***
***  use this template for tags "b, strong, i, em"       ***
************************************************************
b, strong{
	font-family:'fontNameBold';
	font-weight:normal;
}
i, em{
	font-family:'fontNameItalic';
	font-style:normal;
}
i b,
i strong
em b,
em strong,
b i,
b em,
strong i,
strong em{
	font-family: 'fontNameBoldItalic';
	font-weight:normal;
	font-style:normal;
}
*/
/* ------ typographic styles end ------ */

/* btn */
.btn,
[class^="btn-"],
[class*=" btn-"]{
	position: relative;
	text-align: center;
	text-decoration:none;
}
.btn input[type="submit"],
[class^="btn-"] input[type="submit"],
[class*=" btn-"] input[type="submit"],
[class^="btn-"] input[type="reset"],
[class*=" btn-"] input[type="reset"]{
	background: url("../img/empty.png") repeat;
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
	border:0;
}

/*btn-order*/
.btn-order{
	font: 15px/17px 'gothampro-bold', sans-serif;
	color: #e31e24;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #fff1db;
	padding: 13px 13px 12px;
	border-radius: 3px;
}
.btn-order:hover{
	box-shadow: 3px 3px 0 rgba(173, 23, 28, 0.5);
}
/*btn-order end*/

/*btn-red*/
[class^="btn-red"]{
	font: 15px/17px 'gothampro-bold', sans-serif;
	color: #fff;
	text-transform: uppercase;
	background: #e31e24;
	padding: 13px 20px 12px;
	border-radius: 3px;
}
[class^="btn-red"]:hover{
	background: #f72027;
}
/*btn-red end*/

/*btn-frame*/
[class^="btn-"][class$="-frame"]{
	padding: 17px 27px;
	border-radius: 29px;
	color: #fff;
	font: 18px/22px 'gothampro-light', sans-serif;
	text-transform: uppercase;
}
/*btn-frame end*/
/* btn end */

/* overflow */
.overflow,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa
{
	overflow:hidden;
	zoom:1;
}/* overflow end */

/* reset-ul */
[class$="-list"],
[class$="-list"] ul,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa,
.aaa
{
	margin:0;
	list-style:none;
	border:0;
	padding:0;
	background:none;
}/* reset-ul end */

/* inline-block */
[class^="icon-"],
[class*=" icon-"],
[class^="arrow-"],
[class*=" arrow-"],
[class^="soc-icon-"],
[class*=" soc-icon-"],
[class^="btn-"],
[class*=" btn-"],
[class^="corner-"],
[class*=" corner-"],
[class^="checkbox-"],
[class*=" checkbox-"],
[class^="radio-"],
[class*=" radio-"],
.phones,
.phones>strong,
.breadcrumbs li,
.phone-object,
.default-carousel .img-carousel:after,
.heading-lines h2,
.info-carousel h4,
.info-carousel a:after,
.button-frame .button-object,
.reviews-list li,
.products-list .product-img,
.products-list .product-description,
.products-list a:after,
.about-list li,
.reviews-list blockquote .author,
.sub-nav-list li
{
	display:-moz-inline-stack;
	display:inline-block;	
	zoom:1;
	*display:inline;
	vertical-align:top;
}/* inline-block end */

/* reset-fieldset */
.consultation-form fieldset,
.callback-form fieldset,
.aaa fieldset,
.aaa fieldset,
.aaa fieldset,
.aaa fieldset,
.aaa fieldset,
.aaa fieldset,
.aaa fieldset,
.aaa fieldset,
.aaa fieldset,
.aaa fieldset
{
	border: none;
	margin: 0;
	padding: 0;
}/* reset-fieldset end */

/* clearfix */
/*@import url(clearfix.css); do not copy*/
/* clearfix end */

/* gradient */
.clients-box:before{background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjBlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iI2Y5ZjBlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2Y5ZjBlOCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iODQlIiBzdG9wLWNvbG9yPSIjZjlmMGU4IiBzdG9wLW9wYWNpdHk9IjAuMTciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5ZjBlOCIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(249,240,232,1) 0%, rgba(249,240,232,1) 22%, rgba(249,240,232,0.7) 49%, rgba(249,240,232,0.17) 84%, rgba(249,240,232,0.01) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(249,240,232,1)), color-stop(22%,rgba(249,240,232,1)), color-stop(49%,rgba(249,240,232,0.7)), color-stop(84%,rgba(249,240,232,0.17)), color-stop(100%,rgba(249,240,232,0.01)));
	background: -webkit-linear-gradient(left,  rgba(249,240,232,1) 0%,rgba(249,240,232,1) 22%,rgba(249,240,232,0.7) 49%,rgba(249,240,232,0.17) 84%,rgba(249,240,232,0.01) 100%);
	background: -o-linear-gradient(left,  rgba(249,240,232,1) 0%,rgba(249,240,232,1) 22%,rgba(249,240,232,0.7) 49%,rgba(249,240,232,0.17) 84%,rgba(249,240,232,0.01) 100%);
	background: -ms-linear-gradient(left,  rgba(249,240,232,1) 0%,rgba(249,240,232,1) 22%,rgba(249,240,232,0.7) 49%,rgba(249,240,232,0.17) 84%,rgba(249,240,232,0.01) 100%);
	background: linear-gradient(to right,  rgba(249,240,232,1) 0%,rgba(249,240,232,1) 22%,rgba(249,240,232,0.7) 49%,rgba(249,240,232,0.17) 84%,rgba(249,240,232,0.01) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f0e8', endColorstr='#03f9f0e8',GradientType=1 );
}
.clients-box:after{background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjBlOCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2Y5ZjBlOCIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y5ZjBlOCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNzglIiBzdG9wLWNvbG9yPSIjZjlmMGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5ZjBlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(249,240,232,0.06) 0%, rgba(249,240,232,0.17) 16%, rgba(249,240,232,0.7) 51%, rgba(249,240,232,1) 78%, rgba(249,240,232,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(249,240,232,0.06)), color-stop(16%,rgba(249,240,232,0.17)), color-stop(51%,rgba(249,240,232,0.7)), color-stop(78%,rgba(249,240,232,1)), color-stop(100%,rgba(249,240,232,1)));
	background: -webkit-linear-gradient(left,  rgba(249,240,232,0.06) 0%,rgba(249,240,232,0.17) 16%,rgba(249,240,232,0.7) 51%,rgba(249,240,232,1) 78%,rgba(249,240,232,1) 100%);
	background: -o-linear-gradient(left,  rgba(249,240,232,0.06) 0%,rgba(249,240,232,0.17) 16%,rgba(249,240,232,0.7) 51%,rgba(249,240,232,1) 78%,rgba(249,240,232,1) 100%);
	background: -ms-linear-gradient(left,  rgba(249,240,232,0.06) 0%,rgba(249,240,232,0.17) 16%,rgba(249,240,232,0.7) 51%,rgba(249,240,232,1) 78%,rgba(249,240,232,1) 100%);
	background: linear-gradient(to right,  rgba(249,240,232,0.06) 0%,rgba(249,240,232,0.17) 16%,rgba(249,240,232,0.7) 51%,rgba(249,240,232,1) 78%,rgba(249,240,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ff9f0e8', endColorstr='#f9f0e8',GradientType=1 );
}
.clients-page .clients-box:before{background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjFkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iI2ZmZjFkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZmZjFkYiIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iODQlIiBzdG9wLWNvbG9yPSIjZmZmMWRiIiBzdG9wLW9wYWNpdHk9IjAuMTciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZjFkYiIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(255,241,219,1) 0%, rgba(255,241,219,1) 22%, rgba(255,241,219,0.7) 49%, rgba(255,241,219,0.17) 84%, rgba(255,241,219,0.01) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,241,219,1)), color-stop(22%,rgba(255,241,219,1)), color-stop(49%,rgba(255,241,219,0.7)), color-stop(84%,rgba(255,241,219,0.17)), color-stop(100%,rgba(255,241,219,0.01)));
	background: -webkit-linear-gradient(left,  rgba(255,241,219,1) 0%,rgba(255,241,219,1) 22%,rgba(255,241,219,0.7) 49%,rgba(255,241,219,0.17) 84%,rgba(255,241,219,0.01) 100%);
	background: -o-linear-gradient(left,  rgba(255,241,219,1) 0%,rgba(255,241,219,1) 22%,rgba(255,241,219,0.7) 49%,rgba(255,241,219,0.17) 84%,rgba(255,241,219,0.01) 100%);
	background: -ms-linear-gradient(left,  rgba(255,241,219,1) 0%,rgba(255,241,219,1) 22%,rgba(255,241,219,0.7) 49%,rgba(255,241,219,0.17) 84%,rgba(255,241,219,0.01) 100%);
	background: linear-gradient(to right,  rgba(255,241,219,1) 0%,rgba(255,241,219,1) 22%,rgba(255,241,219,0.7) 49%,rgba(255,241,219,0.17) 84%,rgba(255,241,219,0.01) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff1db', endColorstr='#03fff1db',GradientType=1 );
}
.clients-page .clients-box:after{background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjFkYiIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE2JSIgc3RvcC1jb2xvcj0iI2ZmZjFkYiIgc3RvcC1vcGFjaXR5PSIwLjE3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmZjFkYiIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNzglIiBzdG9wLWNvbG9yPSIjZmZmMWRiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZjFkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(255,241,219,0.01) 0%, rgba(255,241,219,0.17) 16%, rgba(255,241,219,0.7) 51%, rgba(255,241,219,1) 78%, rgba(255,241,219,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,241,219,0.01)), color-stop(16%,rgba(255,241,219,0.17)), color-stop(51%,rgba(255,241,219,0.7)), color-stop(78%,rgba(255,241,219,1)), color-stop(100%,rgba(255,241,219,1)));
	background: -webkit-linear-gradient(left,  rgba(255,241,219,0.01) 0%,rgba(255,241,219,0.17) 16%,rgba(255,241,219,0.7) 51%,rgba(255,241,219,1) 78%,rgba(255,241,219,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,241,219,0.01) 0%,rgba(255,241,219,0.17) 16%,rgba(255,241,219,0.7) 51%,rgba(255,241,219,1) 78%,rgba(255,241,219,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,241,219,0.01) 0%,rgba(255,241,219,0.17) 16%,rgba(255,241,219,0.7) 51%,rgba(255,241,219,1) 78%,rgba(255,241,219,1) 100%);
	background: linear-gradient(to right,  rgba(255,241,219,0.01) 0%,rgba(255,241,219,0.17) 16%,rgba(255,241,219,0.7) 51%,rgba(255,241,219,1) 78%,rgba(255,241,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03fff1db', endColorstr='#fff1db',GradientType=1 );
}/* gradient end */

/* sp */
/* icons */
[class^="icon-"],
[class*=" icon-"] {background:url(../img/sp-icons.png) 0 0 no-repeat;}
.icon-phone{ background-position: 0 0; width: 21px; height: 29px; }
.icon-bullet{ background-position: 0 -49px; width: 8px; height: 17px; }
.icon-star{ background-position: 0 -86px; width: 9px; height: 9px; }
.icon-tell{ background-position: 0 -115px; width: 26px; height: 22px; }
.icon-quote-l{ background-position: 0 -157px; width: 45px; height: 27px; }
.icon-quote-r{ background-position: 0 -204px; width: 45px; height: 27px; }

/* icons end */

/* social icons */
[class^="soc-icon-"],
[class*=" soc-icon-"] {background:url(../img/sp-social.png) 0 0 no-repeat;}
/* social icons end */

/* arrows */
[class^="arrow-"],
[class*=" arrow-"] {background:url(../img/sp-arrows.png) 0 0 no-repeat;}
.arrow-slide-prev-red{ background-position: 0 0; width: 12px; height: 20px; }
.arrow-slide-next-red{ background-position: 0 -40px; width: 12px; height: 20px; }
.arrow-slide-top-red{ background-position: 0 -80px; width: 20px; height: 12px; }
.arrow-slide-bottom-red{ background-position: 0 -112px; width: 20px; height: 12px; }
.arrow-slide-prev-gray{ background-position: 0 -144px; width: 24px; height: 41px; }
.arrow-slide-next-gray{ background-position: 0 -205px; width: 24px; height: 41px; }
.arrow-phone{ background-position: 0 -266px; width: 9px; height: 8px; }

/* arrows end */

/* corners */
[class^="corner-"],
[class*=" corner-"] {background:url(../img/sp-corner.png) 0 0 no-repeat;}
/* corners end */

/* checkbox */
[class^="checkbox-"],
[class*=" checkbox-"] {background:url(../img/sp-checkbox.png) 0 0 no-repeat;}
/* checkbox end */

/* radiobuttons */
[class^="radio-"],
[class*=" radio-"] {background:url(../img/sp-radio.png) 0 0 no-repeat;}
/* radiobuttons end *//* sp end */

/* elements form style */
input[type="text"],
input[type="password"],
textarea {
	border:0;
	background: none;
	float: left;
	width:100%;
	padding:0;
	font: 13px/15px 'gothampro-light', sans-serif;
	color:#9b9b9b;
	height: 15px;
}
textarea{
	min-height: 94px;
	height: 94px;
}
/* placeholder */
::-webkit-input-placeholder{color: #9b9b9b;}
:-moz-placeholder{color: #9b9b9b;}
::-moz-placeholder{color: #9b9b9b; opacity: 1;}
:-ms-input-placeholder{color: #9b9b9b; opacity: 1;}
.placeholder {color: #9b9b9b; opacity: 1;}
/* placeholder end */
input[type="radio"] {
	float: left;
	height: 15px;
	width: 16px;
	margin: 0;
	padding: 0;
}
input[type="checkbox"]{
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
}
.form-line {padding:0 0 48px;}
.label-holder{padding: 0 0 10px;}
.label-holder,
label{
	color: #595959;
	font-size: 13px;
	line-height: 15px;
}
.input-holder {
	padding: 8px 10px;
	cursor: text;
	background: #fff;
	border: 1px solid #e7e7e7;
	box-shadow: inset 0 1px 2px #e7e7e7;
	border-radius: 3px;
	position: relative;
}
/* elements form focus */
.input-holder.focus input[type="text"],
.input-holder.focus input[type="password"],
.input-holder.focus textarea{color:#565656;}
/* elements form focus end */

/* validate error */
.input-holder.error{
	border-color: #e31e25;
	box-shadow: inset 0 1px 2px #e31e25;
}
.input-holder.error input[type="text"],
.input-holder.error input[type="password"],
.input-holder.error textarea{color:#e31e25;}
/* placeholder */
.input-holder.error ::-webkit-input-placeholder{color: #e31e25;}
.input-holder.error :-moz-placeholder{color: #e31e25;}
.input-holder.error ::-moz-placeholder{color: #e31e25; opacity: 1;}
.input-holder.error :-ms-input-placeholder{color: #e31e25; opacity: 1;}
.input-holder.error .placeholder {color: #e31e25; opacity: 1;}
/* placeholder end */
/* validate error end */
/* elements form style end */

/* unordered list (UL) styling */
.default-list {
	padding: 0 0 15px;
}
.default-list li {
	padding: 0 0 14px 20px;
	position: relative;
}
.default-list li:after,
.default-list li after{
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	height: 17px;
	width: 8px;
	background: url(../img/sp-icons.png) no-repeat 0 -49px;
}
/* unordered list (UL) styling end */

/* transition */
.btn-order,
[class^="btn-red"],
.clients-table img,
.portfolio-carousel img,
.products-list a,
.about-list a,
.default-carousel img{
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}
.transition-bg{
	transition: background 0.1s linear; 
	-o-transition: background 0.1s linear; 
	-moz-transition: background 0.1s linear; 
	-webkit-transition: background 0.1s linear; 
}
.transitionl-opacity{
	transition: opacity 0.1s linear; 
	-o-transition: opacity 0.1s linear; 
	-moz-transition: opacity 0.1s linear; 
	-webkit-transition: opacity 0.1s linear; 
}
.transition-none {
	-webkit-transition:0s;
	-moz-transition:0s;
	-o-transition:0s;
	transition:0s; 
}
/* transition end */

/* main blocks */
.wrapper {
	 margin: 0 auto;
	 min-height: 100%;
	 height: auto !important;
	 height: 100%;
	 overflow:hidden;
	 position: relative;
 }
.header{
	position:relative;
	z-index:10;
	background: #440002;
}
.main {
	padding: 38px 0 116px;
	position:relative;
	clear:both;
	z-index:4;
}
.main-holder{
	width: 100%;
	border-bottom: 5px solid #fff3e2;
}
.clients-page .main-holder{
	border-color: #f9f0e8;
}
.footer {
	margin: -116px auto 0;
	height:116px;
	background: #fff;
	position: relative;
	clear:both;
	z-index:5;
}
.max-wrap {
	max-width:1100px;
	margin:0 auto;
}
/* main blocks end */

/*header*/
/* header holder */
.header-holder {
	padding: 20px 0;
}
/*logo*/
.logo {
	float: left;
	background: url(../img/logo.png) no-repeat;
	width: 142px;
	height: 97px;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 -100% 0 0;
}
.logo a{
	display: block;
	height: 100%;
}
/*logo end*/

/*header frame*/
.header-frame{
	width: 100%;
	float: left;
}
.header-box{
	margin-left: 200px;
}
/*header frame end*/

/*header contacts*/
.header-contacts{
	text-align: right;
	padding: 14px 0 22px;
}
.phones{
	font: 15px/17px 'gothampro-bold', sans-serif;
	color: #fff;
	padding: 8px 10px;
	border: 1px solid #e31e24;
	position: relative;
}
.phones:after{
	content: '';
	position: absolute;
	left: 22px;
	top: 100%;
	background: url(../img/sp-arrows.png) no-repeat 0 -266px;
	height: 8px;
	width: 9px;
}
.phones>strong{
	font-weight: normal;
	padding: 0 0 0 17px;
	position: relative;
}
.phones>strong:after{
	content: '';
	position: absolute;
	left: 4px;
	top: 6px;
	background: #fff;
	height: 5px;
	width: 5px;
	border-radius: 50%;
}
.phones>strong:first-child{
	padding-left: 0;
}
.phones>strong:first-child:after{
	content: none;
	display: none;
}
.phones>strong .code{
	font-family: 'gothampro-regular', sans-serif;
}
/*header contacts end*/

/*main navigation*/
.nav-list{
	text-align: right;
	font: 15px/17px 'gothampro-bold', sans-serif;
}
.nav-list li{
	display: inline;
	padding: 0 0 5px 8px;
}
.nav-list a{
	color: #fff;
	text-decoration: none;
}
.nav-list a:hover,
.nav-list .active a{
	text-decoration: underline;
}
/*main navigation end*/
/* header holder end */

/* main */
/* breadcrumbs */
.breadcrumbs{
	padding: 0 0 18px;
}
.breadcrumbs-list{
	overflow: hidden;
	color: #da0303;
	text-align: center;
}
.breadcrumbs li{
	padding: 0 5px 0 17px;
	background: url(../img/dividers/sep-breadcrumbs.png) no-repeat 0 6px;
}
.breadcrumbs li:first-child{
	padding-left: 0;
	background: none;
}
.breadcrumbs a{
	color: #868686;
	text-decoration: none;
}
.breadcrumbs a:hover{
	color: #da0303;
}
/* breadcrumbs end */

/*sub navigation*/
.sub-nav-list{
	font-family: 'gothampro-medium', sans-serif;
	line-height: 15px;
	overflow: hidden;
	padding: 0 0 35px;
	text-align: center;
	margin: 0 -35px;
}
.sub-nav-list li{
	padding: 0 34px;
}
.sub-nav-list a{
	color: #e4443e;
}
/*sub navigation end*/

.text-box{
	padding: 0 0 25px;
}

/*consultation*/
.consultation{
	padding: 0 0 20px;
}
/*consultation end*/

/*phone object*/
.phone-object{
	background: #e31e24;
	padding: 14px 29px 13px;
	border-radius: 29px;
	color: #fff;
	font: 22px/24px 'gothampro-bold', sans-serif;
	letter-spacing: 1px;
}
.phone-object>i{
	margin: 0 12px 0 0;
}
.phone-object .code{
	font-family: 'gothampro-light', sans-serif;
}
/*phone object end*/

/*consultation phone*/
.consultation-phone{
	overflow: hidden;
	text-align: center;
	padding: 0 0 64px;
}
.consultation-phone .phone-object{
	position: relative;
}
.consultation-phone .phone-object:before,
.consultation-phone .phone-object:after{
	content: '';
	position: absolute;
	left: 100%;
	bottom: 50%;
	height: 0;
	width: 9999px;
	border-top: 1px solid #e31e24;
}
.consultation-phone .phone-object:after{
	left: auto;
	right: 100%;
}
/*consultation phone end*/

/*button frame*/
.button-frame{
	overflow: hidden;
	text-align: center;
	padding: 0 0 42px;
}
.button-frame .button-object{
	position: relative;
}
.button-frame .button-object:before,
.button-frame .button-object:after{
	content: '';
	position: absolute;
	left: 100%;
	bottom: 50%;
	height: 0;
	width: 9999px;
	border-top: 1px solid #e31e24;
	margin: 0 0 -1px;
}
.button-frame .button-object:after{
	left: auto;
	right: 100%;
}
/*button frame end*/

/*consultation form*/
.consultation-form{
	padding: 21px 32px 20px;
	background: #e31e24;
}
.consultation-form form{
	float: left;
	width: 100%;
}
.consultation-form h3{
	font: 16px/18px 'gothampro-medium', sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 0 0 25px;
}
.consultation-form .form-line{
	padding: 0 0 8px;
}
.consultation-form .input-holder{
	border-color: #fff;
	background: #fff;
	box-shadow: none;
	padding: 8px;
}
.consultation-form input[type="text"]{
	font: 12px/14px 'gothampro-light', sans-serif;
	color:#9b9b9b;
	height: 14px;
}
.consultation-form .form-buttons{
	padding: 7px 0 0;
}
.consultation-form [class*="btn-"]{
	display: block;
}
/*consultation form end*/

/*consultation info*/
.consultation-info{
	padding: 0 0 38px;
}
.consultation-info .consultation-form{
	width: 258px;
	float: right;
	margin-left: 80px;
}
/*consultation description*/
.consultation-description{
	overflow: hidden;
	padding: 22px 0 0;
}
.consultation-description h2{
	font: 16px/18px 'gothampro-bold', sans-serif;
	letter-spacing: 0.04em;
	color: #e31e24;
	padding: 0 0 29px;
	overflow: hidden;
}
/*consultation description end*/
/*consultation info end*/

/*design*/
.design{
	padding: 0 0 58px;
}
.design h2{
	text-align: center;
	padding: 0 0 71px;
	letter-spacing: 0.04em;
}
/*design end*/

/*default carousel*/
.default-carousel{
	position: relative;
	font-size: 13px;
	line-height: 17px;
}
/*carouse list*/
.default-carousel li{
	float: left;
	text-align: center;
}
.default-carousel a{
	display: block;
	text-decoration: none;
	color: #565656;
	padding: 0 0 1px;
}
.default-carousel .img-carousel{
	padding: 0 0 17px;
}
.design-list .img-carousel{
	position: relative;
	padding: 0 0 33px;
}
.default-carousel img{
	vertical-align: middle;
}
.default-carousel a:hover img{
	opacity: 0.85;
}
.design-list .img-carousel:after{
	content: '';
	height: 100%;
	width: 0;
	margin-left: -3px;
	vertical-align: middle;
}
.default-carousel h4{
	font: 13px/20px 'gothampro-medium', sans-serif;
	color: #da0303;
	padding: 0 0 5px;
}
.default-carousel h4>span{
	border-bottom: 1px solid #efc5be;
}
.default-carousel a:hover h4>span{
	border-bottom-color: transparent;
}
.default-carousel .slide-description{
	margin: 0 30px;
}
.default-carousel a:hover .slide-description{
	color: #da0303;
}
/*carouse list end*/

/*switchers*/
.default-carousel .switchers{
	position: relative;
	max-width: 1258px;
	margin: 0 auto;
	z-index: 998;
}
.default-carousel .switchers .bx-prev,
.default-carousel .switchers .bx-next{
	position: absolute;
	top: 42px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../img/sp-arrows.png) no-repeat 0 -144px;
	height: 41px;
	width: 24px;
}
.portfolio .switchers .bx-prev,
.portfolio .switchers .bx-next{
	top: 73px;
}
.default-carousel .switchers .bx-prev{
	left: 10px;
}
.default-carousel .switchers .bx-next{
	right: 10px;
	background-position: 0 -205px;
}
.default-carousel .switchers .bx-prev:hover{
	margin: 0 -1px 0 0;
	padding-left: 1px;
	background-position: 1px -144px;
}
.default-carousel .switchers .bx-next:hover{
	margin: 0 0 0 -1px;
	padding-right: 1px;
}
/*switchers end*/
/*default carousel end*/

/*heading lines*/
.heading-lines{
	padding: 0 100px 46px;
	overflow: hidden;
	text-align: center;
}
.heading-lines h2{
	text-align: center;
	position: relative;
	padding: 0;
	letter-spacing: 0.03em;
}
.heading-lines h2:before,
.heading-lines h2:after{
	content: '';
	position: absolute;
	left: 100%;
	bottom: 50%;
	height: 0;
	width: 9999px;
	border-top: 1px solid #bababa;
	margin: 0 0 -1px 30px;
}
.heading-lines h2:after{
	left: auto;
	right: 100%;
	margin: 0 30px -1px 0;
}
/*heading lines end*/

/*portfolio*/
.portfolio{
	padding: 0 0 67px;
}
/*portfolio end*/

/*execution*/
.execution{
	padding: 0 0 56px;
}
.execution-list{
	overflow: hidden;
}
.execution-list h2{
	padding: 0 0 15px;
	letter-spacing: 0.04em;
}
.execution-list>li{
	float: right;
	text-align: right;
	width: 45%;
}
.execution-list>li:first-child{
	float: left;
	text-align: left;
}
.execution-list ul{
	font-family: 'gothampro-medium', sans-serif;
}
.execution-list ul li{
	padding: 0 0 6px;
}
.execution-list ul a{
	text-decoration: none;
	border-bottom: 1px solid #eec5be;
	color: #da0303;
	padding: 10px 0 0;
}
.execution-list ul a:hover{
	border-color: transparent;
}
/*execution end*/

/*info box*/
.info-box{
	padding: 0 0 71px;
	position: relative;
}
.clients-box{
	padding: 0 0 57px;
}
.info-box h2{
	font: 28px/32px 'gothampro-light', sans-serif;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #da0303;
	padding: 0 0 56px;
}
.info-box .max-wrap{
	position: relative;
}

/*info heading*/
.info-heading{
	overflow: hidden;
	padding: 0 60px 44px 0;
	position: relative;
	z-index: 1001;
}
.info-heading h2{
	padding: 6px 30px 0 0;
	float: left;
}
.info-heading .btn-red{
	min-width: 198px;
	margin: 0 18px 0 0;
}
/*info heading end*/

/*info carousel*/
.info-carousel{
	font-size: 13px;
	line-height: 18px;
}
.info-carousel li{
	float: left;
}
.services-carousel a{
	text-decoration: none;
	display: block;
}
.services-carousel a:after{
	content: '';
	height: 100%;
	margin: 0 0 0 -3px;
	vertical-align: middle;
}
.info-carousel img{
	vertical-align: middle;
}
.info-carousel h4{
	color: #da0303;
	vertical-align: middle;
	max-width: 120px;
	padding: 0 0 0 22px;
	font: 13px/18px 'gothampro-medium', sans-serif;
}
.info-carousel h4 span{
	border-bottom: 1px solid #edc3bc;
}
.info-carousel a:hover h4 span{
	border-color: transparent;
}
/*info carousel end*/

/*clients box*/
.clients-box:before,
.clients-box:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 68px;
	z-index: 999;
}
.clients-box:after{
	left: auto;
	right: 0;
}
.carouse-info-list{
	overflow: hidden;
}
.clients-carousel .carouse-info-list li{
	text-align: center;
}
.clients-carousel{
	padding: 20px 0 0;
}
/*clients box end*/
/*info box end*/

/*clients*/
.clients{
	padding: 0 0 89px;
}
.clients-table-wrap{
	margin: 0 11px;
}
.clients-table-wrap .clients-table{
	table-layout: fixed;
}
.clients-table td{
	border-left: 3px solid #e31e24;
	border-top: 3px solid #e31e24;
	padding: 37px;
	text-align: center;
	vertical-align: middle;
}
.clients-table tr:first-child td{
	border-top: none;
}
.clients-table td:first-child{
	border-left: none;
}
.clients-table a:hover img{
	opacity: 0.85;
}
/*clients end*/

/*reason*/
/*reasons list*/
.reasons-list{
	overflow: hidden;
	margin: 0 -37px;
	text-align: center;
	font: 13px/18px 'gothampro-medium', sans-serif;
	color: #565656;
	padding: 0 0 15px;
}
.reasons-list li{
	width: 190px;
	float: left;
	margin: 0 0 0 37px;
}
.reasons-list .number{
	display: block;
	width: 71px;
	height: 71px;
	background: #e31e24;
	font: 28px/70px 'gothampro-black', sans-serif;
	color: #fff;
	border-radius: 50%;
	margin: 0 auto 33px;
}
.reasons-list .reason-description{
	font-weight: normal;
}
/*reasons list end*/
/*reason end*/

/*three columns*/
.three-columns{
	padding: 0 0 25px;
}
.three-columns p{padding: 0 0 24px;}
.three-columns .column{
	float: left;
	width: 358px;
}
.three-columns .column:first-child{
	width: 335px;
	margin: 0 40px 0 0;
}
.three-columns .column+.column+.column{
	width: 336px;
	float: right;
}
.three-columns h2{
	font: 18px/22px 'gothampro-medium', sans-serif;
	color: #f00;
	overflow: hidden;
	padding: 0 0 17px;
}
.column-heading{
	text-align: center;
	overflow: hidden;
	padding: 11px 34px 16px;
}
.column-heading img{
	margin: 0 5px 0 0;
	float: left;
}
.column-container{
	padding: 12px 20px 42px 0;
}
.three-columns h3{
	font: 18px/22px 'gothampro-medium', sans-serif;
	text-transform: uppercase;
	color: #3c3c3c;
	padding: 2px 0 34px;
	text-align: center;
}
.links-list{
	font: 13px/15px 'gothampro-medium', sans-serif;
	padding: 0 50px 11px 0;
}
.links-list li{
	padding: 0 0 15px;
}
.links-list a{
	text-decoration: none;
	border-bottom: 1px solid #eec5be;
}
.links-list a:hover{
	border-bottom-color: transparent;
}
.phone-wrap{
	text-align: center;
}
/*three columns end*/

/*portfolio carousel*/
.portfolio-carousel li{
	overflow: hidden;
}
.portfolio-carousel li a{
	float: right;
}
.portfolio-carousel li a:first-child{
	float: left;
}
.portfolio-carousel li a:hover img{
	opacity: 0.85;
}
/*portfolio carousel*/

/*products*/
.products{
	padding: 0 0 55px;
}
.products-list{
	font: 13px/15px 'gothampro-medium', sans-serif;
	color: #55524f;
	width: 1046px;
	margin: 0 auto;
}
.products-list li{
	padding: 0 0 11px;
	text-align: center;
}
.products-list .product-box{
	width: 523px;
	float: left;
}
.products-list a{
	display: block;
	padding: 7px 0 24px 10px;
	border: 4px solid transparent;
	text-decoration: none;
	color: #55524f;
	position: relative;
	width: 505px;
	float: left;
}
.products-list a:hover{
	margin: -10px;
	padding: 17px 10px 34px 20px;
	border-color: #ff181f;
}
.products-list .product-box:first-child a{
	padding: 7px 10px 24px 0;
}
.products-list .product-box:first-child a:hover{
	padding: 17px 20px 34px 10px;
}
.products-list a:after{
	content: '';
	vertical-align: middle;
	margin: -3px;
	height: 100%;
}
.product-description{
	width: 303px;
	vertical-align: middle;
}
.product-description h3{
	font: 18px/22px 'gothampro-bold', sans-serif;
	text-transform: uppercase;
	color: #ff181f;
	padding: 0 0 10px;
	letter-spacing: 0.06em;
	text-align: center;
}
.product-text{
	text-decoration: none;
	text-align: justify;
	max-height: 90px;
	overflow: hidden;
}
.products-list .product-img{
	width: 165px;
	margin: 0 0 0 17px;
	vertical-align: middle;
	text-align: center;
}
.products-list .product-box:first-child .product-img{
	margin: 0 17px 0 0;
}
/*products end*/

/*about container*/
.about-container{
	padding: 60px 0 24px;
}
/*about list*/
.about-list{
	padding: 0 0 20px;
	width: 729px;
	margin: 0 auto;
	text-align: center;
	font: 16px/20px 'gothampro-bold', sans-serif;
	text-transform: uppercase;
	color: #e31e24;
}
.about-list li{
	width: 290px;
	margin: 0 35px 0 36px;
	padding: 0 0 30px;
}
.about-list a{
	display: block;
	text-decoration: none;
	color: #e31e24;
	padding: 15px;
	border: 2px solid #e31e24;
	position: relative;
	border-radius: 5px;
	float: left;
	width: 256px;
}
.about-list a:hover{
	margin: -5px;
	padding: 20px;
}
/*about list end*/
/*about container end*/

/*additional info*/
.add-info{
	background: #fff;
	padding: 41px 0 0;
}
/*callback*/
.callback{
	padding: 0 0 69px;
}
.add-info .callback{
	padding-top: 38px;
}
.callback h3{
	font-size: 22px;
	line-height: 24px;
	padding: 0 0 45px;
}
.add-info .callback-form{
	width: 408px;
	float: left;
	margin: 0 128px 0 0;
}
.callback-form form{
	float: left;
	width: 100%;
}
.callback-form .input-holder.required{
	padding: 8px 30px 7px 12px;
}
.callback-form .icon-star{
	position: absolute;
	right: 14px;
	top: 11px;
}
.callback-form .note{
	display: block;
	margin: -19px 0 0;
	padding: 0 0 28px 14px;
	font-size: 13px;
	line-height: 17px;
}
/*notice info*/
.notice-info{
	overflow: hidden;
	padding: 4px 0 0;
}
/*notice info end*/
/*callback end*/

/*about*/
.about{
	padding: 0 0 55px;
}
/*about info*/
.about-info{
	float: left;
	color: #9a9a9a;
	font-size: 13px;
	line-height: 1.385;
}
.about .about-info{
	float: left;
	width: 335px;
	margin: 0 10px 0 0;
	padding: 12px 0 0;
}
.about-item{
	padding: 0 0 28px;
}
.about-info h4{
	font: 14px/20px 'gothampro-bold', sans-serif;
	text-transform: uppercase;
	padding: 0 95px 10px 0;
}
.about-info p{
	padding: 0 0 18px;
}
/*about info end*/
/*about end*/

/*locate*/
.locate{
	margin: 0 0 0 412px;
}
/*map*/
.map{
	height: 587px;
	background: #dfdad4;
	border-radius: 4px;
}
/*map end*/
/*locate end*/

/*reviews*/
.reviews h2{
	color: #da0303;
	font: 28px/32px 'gothampro-light',sans-serif;
	letter-spacing: 0.03em;
	padding: 0 0 58px;
	text-transform: uppercase;
}
/*reviews list*/
.reviews-list{
	overflow: hidden;
	margin: 0 0 0 -89px;
}
.reviews-list li{
	width: 458px;
	margin: 0 0 0 89px;
	padding: 0 0 62px;
}
.reviews-list blockquote{
	margin: 0;
	padding: 0;
	font: 13px/20px 'gothampro-medium-italic', sans-serif;
	color: #838383;
}
.reviews-list blockquote cite{
	display: block;
	font: 17px/21px 'gothampro-bold',sans-serif;
	text-transform: uppercase;
	padding: 0 0 39px;
	color: #da0303;
}
.reviews-list blockquote cite .icon-tell{
	margin: 11px 10px 0 0;
}
.reviews-list blockquote .author{
	padding: 10px 0 0;
}
.reviews-list blockquote q{
	position: relative;
	display: block;
	margin: 0;
	padding: 9px 50px 9px 29px;
}
.reviews-list blockquote q>span{
	position: relative;
	z-index: 1;
}
.reviews-list blockquote q:before,
.reviews-list blockquote q:after{
	content: '';
	position: absolute;
	background: url(../img/sp-icons.png) no-repeat 0 -157px;
	height: 27px;
	width: 45px;
}
.reviews-list blockquote q:before{
	left: 0;
	top: 0;
}
.reviews-list blockquote q:after{
	right: 0;
	bottom: 0;
	background-position: 0 -204px;
}
/*reviews list end*/
/*reviews end*/

/*additional info end*/
/* main end */

/* footer */
/* footer holder */
.footer-holder{
	border-top: 1px solid #dbdbdb;
	padding: 33px 0 0;
}
.clients-page .footer-holder{
	border: none;
}
.logo-footer{
	display: block;
	font: 15px/17px 'gothampro-medium', sans-serif;
	color: #010101;
	text-transform: uppercase;
	margin: 0 0 1px;
}
.copyright{
	display: block;
	color: #b2b2b2;
	font: 15px/17px 'gothampro-regular', sans-serif;
}
/* footer holder end */
/* footer end */

.select-holder {
	position:relative;
	width:100%;
}
.select-holder .cselect {width:100%;}
